.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 8rem;
  max-width: 900px;
  margin: 8rem auto;
  padding: 0 2rem;
  grid-auto-flow: dense;
}

.about h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.about h3 {
  font-weight: 400;
  margin: 0.5rem 0 1.5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.about p {
  font-weight: 300;
  text-align: justify;
}
.leftImage,
.rightImage {
  position: relative;
  min-height: 20rem;
}
.rightImage {
  grid-column: 2;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .imageContainer {
    margin-top: 2rem;
  }
  .about h2,
  .about h3 {
    text-align: center;
  }
}
